# MongoDB Atlas
MONGODB_URI=mongodb+srv://<username>:<password>@cluster>.mongodb.net/mandera_fusion_analytics?retryWrites=true&w=majority
MONGODB_DB=mandera_fusion_analytics

# PostgreSQL (Docker)
POSTGRES_USER=pipeline
POSTGRES_PASSWORD=pipeline_secret
POSTGRES_DB=mandera_fusion_warehouse
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# MinIO (Docker)
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSOWRD=minioadmin123
MINIO_ENDPOINT=http://minio:9000
MINIO_BUCKET=mandera-fusion-raw

# AIRFLOW
AIRFLOW_CORE_EXECUTOR=CeleryExecutor
AIRFLOW_DATABASE_SQL_ALCHEMY_CONN=postgresql+psycopg2://pipeline:pipeline_secret@postgres:5432/mandera_fusion_warehouse
AIRFLOW_CELERY_BROKER_URL=redis://redis:6379/0
AIRFLOW_CELERY_RESULT_BACKEND=db+postgresql://pipeline:pipeline_secret@postgres:5432/mandera_fusion_warehouse
AIRFLOW_CORE_FERNET_KEY=your_fernet_key_here
AIRFLOW_CORE_LOAD_EXAMPLES=False
AIRFLOW_CORE_DAGS_FOLDER=/opt/airflow/dags

# Batch confiuration
NUMBER_OF_BATCHES=2
